@page
@using Logic.Models;
@model Beamer_shop.Pages.CheckoutInfoModel
@{
    ViewData["Title"] = "Checkout";
    ViewData["ActiveLink"] = "checkout";
}




<div id="bar-progress" class="mt-5 mt-lg-0">
    <div class="step step-active">
        <span class="number-container">
            <span class="number">1</span>
        </span>
        <h5>Login</h5>
    </div>
    <div class="seperator"></div>

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <div class="step step-active">
            <span class="number-container">
                <span class="number">2</span>
            </span>
            <h5>Confirm cart items</h5>
        </div>    
    }
    else
    {
        <div class="step">
            <span class="number-container">
                <span class="number">2</span>
            </span>
            <h5>Confirm cart items</h5>
        </div>
    }


    <div class="seperator"></div>
    <div class="step">
        <span class="number-container">
            <span class="number">3</span>
        </span>
        <h5>Delivery</h5>
    </div>
    <div class="seperator"></div>
    <div class="step">
        <span class="number-container">
            <span class="number">4</span>
        </span>
        <h5>Review &amp; Pay</h5>
    </div>
</div>

<div class="checkout-container">



    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        @if (Model.LoggedCustomer != null)
        {
            Customer customer = Model.LoggedCustomer;

            <div class="chk-account-info"> 
                <h2>Buyer information:</h2>
                <h3>@customer.FirstName @customer.LastName</h3>
                <h3>@customer.BirthDate</h3>
                <h3>@customer.Email</h3>
                <br> 
                <h2>Buyer address:</h2>
                <h3>@customer.Address, @customer.City</h3>
                <h3>@customer.ZipCode</h3> 
            </div>

        }
    }
    else
    {
        //not logged in
        <div id="reg1" class="Checkout-Register">
            <div class="Checkout-register-text">
            <h2>Contact information</h2>
                <h4 style="float:right">Returning customer? <a id="Register-toggle" style="text-decoration: underline; color: #117cec; cursor:grab;">Login</a></h4>
            </div>
            <form method="post" asp-page-handler="CheckoutRegisterUser">
                <label asp-for="newCustomer.FirstName">First Name</label>
                <span asp-validation-for="newCustomer.FirstName"></span>
                <input asp-for="newCustomer.FirstName" type="text" placeholder="Your name..">

                <label asp-for="newCustomer.LastName">Last Name</label>
                <span asp-validation-for="newCustomer.LastName"></span>
                <input asp-for="newCustomer.LastName" type="text" placeholder="Your last name..">

                <label asp-for="newCustomer.Email">Email</label>
                <span asp-validation-for="newCustomer.Email"></span>
                <input asp-for="newCustomer.Email" placeholder="Your email..">

                <label asp-for="newCustomer.BirthDate">Birthdate</label>
                <span asp-validation-for="newCustomer.BirthDate"></span>
                <input asp-for="newCustomer.BirthDate" type="date" placeholder="Your birthdate..">

                <label asp-for="newCustomer.Address">Address</label>
                <span asp-validation-for="newCustomer.Address"></span>
                <input asp-for="newCustomer.Address" placeholder="Your address..">

                <label asp-for="newCustomer.ZipCode">Zipcode</label>
                <span asp-validation-for="newCustomer.ZipCode"></span>
                <input asp-for="newCustomer.ZipCode" placeholder="Your zipcode..">

                <label asp-for="newCustomer.City">City</label>
                <span asp-validation-for="newCustomer.City"></span>
                <input asp-for="newCustomer.City" placeholder="Your city..">

                <label asp-for="newCustomer.Password">Password</label>
                <span asp-validation-for="newCustomer.Password"></span>
                <input asp-for="newCustomer.Password" type="password" placeholder="Your password..">

                <input type="submit" value="Submit">
            </form>
        </div>

        <div id="log1" class="Checkout-Login" style="display:none;">
            <h3>Login</h3>
            <form method="post" asp-page-handler="CheckoutLoginUser">
                <label asp-for="login.Email">Email</label>
                <span asp-validation-for="login.Email"></span>
                <input asp-for="login.Email" type="email" placeholder="Your email..">

                <label asp-for="login.Password">Password</label>
                <span asp-validation-for="login.Password"></span>
                <input asp-for="login.Password" type="password" placeholder="Your password..">

                <input type="submit" value="Log in">
                <h4>No account? <a id="Login-toggle" style="text-decoration: underline; color: #117cec; cursor:grab;">Sign up</a></h4>
            </form>
        </div>
    }
    <div class="checkout-cart-container">
        <div class="checkout-cart">
            @if (Model.ShoppingCart != null && Model.ShoppingCart.GetItems() != null && Model.ShoppingCart.GetItems().Count > 0)
            {
                @foreach (var item in Model.ShoppingCart.GetItems())
                {
                    <div class="cart-content">
                        <img src="@item.Product.ImageUrl" alt="@item.Product.Name">
                        <div class="content-info">
                            <h4>@item.Product.Name</h4>
                            <h3>€@item.Product.Price</h3>
                        </div>
                        <div class="content-quantity">
                            <button onclick="editCartAjax(@item.Product.Id, 'add', 'checkout')">+</button>
                            <h2 style="text-align: center;margin: 10px;">@item.Quantity</h2>
                            <button onclick="editCartAjax(@item.Product.Id, 'remove', 'checkout')">-</button>
                        </div>
                    </div>
                }
            } else 
            {
                <h2>Your cart is empty.</h2>
            }   
        </div>
            @if (Model.ShoppingCart != null && Model.ShoppingCart.GetItems() != null && Model.ShoppingCart.GetItems().Count > 0)
            {
                <div class="checkout-price-details">
                    <div class="cart-subinfo">
                        @{
                            decimal subtotal = Model.ShoppingCart.Total - Model.ShoppingCart.Taxes;
                        }
                        <div class="sub1">
                            <h4 style="color:#9f9f9f;">Subtotal: </h4>
                            <h4 id="subtotal">€@subtotal.ToString("N0")</h4>
                        </div>
                        <div class="sub2">
                            <h4 style="color:#9f9f9f;">Taxes: </h4>
                            <h4 id="taxes">€@Model.ShoppingCart.Taxes.ToString("N0")</h4>
                        </div>
                    </div>
                    <div class="cart-total">

                        <h1 id="total">€@Model.ShoppingCart.Total.ToString("N0")</h1>
                        <button onclick="window.location.href = '/CheckoutShip'">Checkout</button>
                    </div>
                </div>
            }
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Use the jQuery.noConflict() method to avoid conflicts with other libraries using the $ symbol
    jQuery(document).ready(function ($) {
        // Add click event handler to the button
        $('#Register-toggle').click(function () {
            $('#reg1').toggle();
            $('#log1').toggle();
        });

        $('#Login-toggle').click(function () {
            $('#reg1').toggle();
            $('#log1').toggle();
        });
    });
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />


}


