@page
@using Logic.Models
@model Beamer_shop.Pages.MyOrdersModel
@{
}


<div class="orders-container">

@foreach(Order order in Model.orders){
    <div class="ordrs-ordr">
        <h3>Order: @order.TimeStamp.Value.ToString("dd-MM-yyyy");</h3>
        <h4>Tax: @order.TotalTax.ToString("N0");</h4>
        <h4>Shipping: @order.TotalShipping.ToString("N0");</h4>
        <h4>Discount: @order.Discount.Value.ToString("N0");</h4>
        <h4>Total: @order.TotalTotal.ToString("N0");</h4>
        @if(order.Shipped.HasValue){
            <h4>Shipped: @order.Shipped.Value.ToString("dd-MM-yyyy");</h4>
        }
        else
        {
            <h4>Shipped: No</h4>
        }
        <h3>Delivery address:</h3>
        <h4>@order.DeliveryAddress.Street @order.DeliveryAddress.HouseNumber, @order.DeliveryAddress.City</h4>
        <h4>@order.DeliveryAddress.Zipcode, @order.DeliveryAddress.Country</h4>

        @if(order.Paid == 0){
            <form method="post">
                <input asp-page-handler="FinishOrder" value="Pay order" type="submit" style="">
            </form>
        } else{
            <h2>Order is paid.</h2>
        }
    </div>
    }
</div>