@page
@model Beamer_shop.Pages.ProductModel
@{
    @using Logic.Models
}


@if(Model.Product != null){
    Product product = Model.Product;
<div class="product-lr-container">
    <div class="product-images">
        <img src="@product.ImageUrl" class="main-image">
            <div class="small-images">
                @if (Model.productImages.Count > 0)
                {
                    <img src="@product.ImageUrl" onclick="changeMainImage('@product.ImageUrl')">
                }
                 @foreach (string image in Model.productImages)
                 {
                    <img src="@image" onclick="changeMainImage('@image')">
                }
            </div>
    </div>

    <div class="product-right">
        <h1>@product.Name</h1>
        <h1>€@product.Price</h1>
        <form action="">
            <input type="submit" value="Add to cart">
        </form>
    </div>

    <div class="product-description">
        <h2>Product details</h2>
        <h3>@product.Description</h3>
    </div>
</div>


    if(Model.Product is Car)
    {
        Car car = product as Car;



    }
    /* Recomended */ 
    <div class="product-container" id="recommendList">
       @if (Model.recommendedProducts.Count > 0)
       {
        <h2>Recommended products</h2>
       }
        @foreach (Product recommendedProduct in Model.recommendedProducts)
        {

            string formatKeyword = "";

            DateTime dateValue;
            if (DateTime.TryParse(recommendedProduct.Keyword, out dateValue))
            {
                formatKeyword = dateValue.ToString("yyyy");
            }
            else { formatKeyword = recommendedProduct.Keyword; }


            <div class="card">
                <img src="@recommendedProduct.ImageUrl" alt="Image" />
                <div class="card-body">
                    <div class="row">
                        <div class="card-title">
                            <h4>@recommendedProduct.Name</h4>
                            <h3>@formatKeyword</h3>
                            <h3>€@recommendedProduct.Price</h3>
                        </div>
                        <div class="view-btn">
                            <a href="/Product?Id=@recommendedProduct.Id">View Details</a>
                        </div>
                    </div>
                    <hr />
                    <p>@recommendedProduct.Description</p>
                </div>
            </div>

        }
    </div>


}

<script>
    function changeMainImage(newSrc) {
        const mainImage = document.querySelector('.main-image');
        mainImage.src = newSrc;
    }
</script>