@page
@model Beamer_shop.Pages.ProductModel
@{
    @using Logic.Models
    ViewData["Title"] = Model.Product.Keyword;
    ViewData["ActiveLink"] = "shop";
}


@if(Model.Product != null){
    Product product = Model.Product;
<div class="product-lr-container">
    <div class="product-images">
        <img src="@product.ImageUrl" class="main-image">
            <div class="small-images">
                @if (Model.productImages.Count > 0)
                {
                    <img src="@product.ImageUrl" onclick="changeMainImage('@product.ImageUrl')">
                }
                 @foreach (string image in Model.productImages)
                 {
                    <img src="@image" onclick="changeMainImage('@image')">
                }
            </div>
    </div>

    <div class="product-right">
        <h1>@product.Name</h1>
        <h1>€@product.Price.ToString("N0")</h1>
            <button onclick='editCartAjax(@product.Id, "add", "cart")'>Add to cart</button>


        <h2>@product.Description</h2>
    </div>

    <div class="product-description">    
            @if (!string.IsNullOrEmpty(product.getDetails()))
            {
                <h2>Product details</h2>
                <h3 id="product-details">@product.getDetails()</h3>
            }
    </div>
</div>


    /* Recomended */ 
    <div class="product-container" id="recommendList">
       @if (Model.recommendedProducts.Count > 0)
       {
        <h2>Recommended products</h2>
       }
        @foreach (Product recommendedProduct in Model.recommendedProducts)
        {
            <component type="typeof(Components.CProductCard)" render-mode="Static" param-product='recommendedProduct' />
        }
    </div>


}

<script>
    function changeMainImage(newSrc) {
        const mainImage = document.querySelector('.main-image');
        mainImage.src = newSrc;
    }
</script>