@page
@using Logic.Models
@using Components
@model Beamer_shop.Pages.ShopModel
@{
    ViewData["Title"] = "Shop";
    ViewData["ActiveLink"] = "shop";
}


<div class="filter-container">
    <h1>Filter</h1>
    <div class="filter-section">
        <form method="post" asp-page-handler="FilterProducts" id="prodFilter">
        
        <label asp-for="ProductFilter.ProductType">Type</label>
            <span asp-validation-for="ProductFilter.ProductType"></span>
            <select asp-for="ProductFilter.ProductType">
            <option value="">All</option>
            @foreach (string _type in Model.storedProductCollection.Select(product => product.GetType().Name).Distinct().ToList())
            {
                    <option value="@_type">@_type</option>
            }
        </select>

        <label asp-for="ProductFilter.Model">Model</label>
            <span asp-validation-for="ProductFilter.Model"></span>
            <select asp-for="ProductFilter.Model">
                <option value="">All</option>
                @foreach (string _model in Model.storedProductCollection.OfType<Car>().Select(car => car.Model).Distinct().ToList())
                {
                    <option value="@_model">@_model</option>
                }
            </select>

            <label asp-for="ProductFilter.Make">Make</label>
            <span asp-validation-for="ProductFilter.Make"></span>
            <select asp-for="ProductFilter.Make">
                <option value="">All</option>
                @foreach (string make in Model.storedProductCollection.OfType<Car>().Select(car => DateTime.Parse(car.Make).ToString("yyyy")).Distinct().ToList())
                {
                    <option value="@make">@make</option>
                }
            </select>

            <label asp-for="ProductFilter.Fuel">Fuel</label>
            <span asp-validation-for="ProductFilter.Fuel"></span>
            <select asp-for="ProductFilter.Fuel">
                <option value="">All</option>
                @foreach (int _fuel in Model.storedProductCollection.OfType<Car>().Select(car => car.Fuel).Distinct().ToList())
                {
                    string fuel = "";
                    if(_fuel == 0){ fuel = "Petrol"; }
                    if (_fuel == 1) { fuel = "Diesel"; }
                    <option value="@_fuel">@fuel</option>
                }
            </select>

            <input type="submit" value="Filter">
            <a id="clear-filter"href="/Shop" style="text-decoration: underline; color: #117cec;">Clear</a>


        </form>
    </div>
</div>

<div class="product-container">
    @foreach (Product product in Model.productCollection)
    {
        <component type="typeof(Components.CProductCard)" render-mode="Static" param-product='product' />   
    }
</div>
