@using Logic.Models
@{
    string formatKeyword = "";
    DateTime dateValue;
    if (DateTime.TryParse(product.Keyword, out dateValue))
    {
    formatKeyword = dateValue.ToString("yyyy");
    } else { formatKeyword = product.Keyword; }
}

<div class="card">
    <div class="image-container">
        <img src="@product.ImageUrl" alt="Image" />
        <div class="image-overlay">
            <button onclick="editCartAjax(@product.Id, 'add', 'cart')">Add to cart</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card-title">
                <h4>@product.Name</h4>
                <h3>@formatKeyword</h3>
                <h3>€@product.Price.ToString("N0")</h3>
            </div>
            <div class="view-btn">
                <a href="/Product?Id=@product.Id">View Details</a>
            </div>
        </div>
        <hr />
        <p>@product.Description</p>
    </div>
</div>


@code {
    [Parameter]
    public Product? product { get; set; }
}