@using Logic

<div class="cart-wrap">
    <div class="cart-top">
        <h2 id="cart-close" style="cursor:grab">X</h2>
        <h2>My Cart</h2>
        <h2 id="cart-trash" style="cursor:grab"><i onclick="editCartAjax(-901, 'clear')" class="fa fa-trash"></i></h2>
    </div>
    <div class="cart-content-container">

        @if (ShoppingCart == null || ShoppingCart.GetItems().Count <= 0)
        {
            <div class="cart-content">
                <div class="content-info">
                    <h4>Your cart is empty.</h4>
                </div>
            </div>
        } else {
            foreach (var item in ShoppingCart.GetItems())
            {
                <div class="cart-content">
                    <img src="@item.Product.ImageUrl" alt="@item.Product.Name">
                    <div class="content-info">
                        <h4>@item.Product.Name</h4>
                        <h3>€@item.Product.Price</h3>
                    </div>
                    <div class="content-quantity">
                        <button onclick="editCartAjax(@item.Product.Id, 'add')">+</button>
                        <h2 style="text-align: center;margin: 10px;">@item.Quantity</h2>
                        <button onclick="editCartAjax(@item.Product.Id, 'remove')">-</button>
                    </div>
                </div>
            }
        }
    </div>
    <div class="cart-subinfo">
        @{
            decimal subtotal = ShoppingCart.Total - ShoppingCart.Taxes;
        }
        <div class="sub1">
            <h4 style="color:#9f9f9f;">Subtotal: </h4>
            <h4 id="subtotal">€@subtotal.ToString("N0")</h4>
        </div>
        <div class="sub2">
            <h4 style="color:#9f9f9f;">Taxes: </h4>
            <h4 id="taxes">€@ShoppingCart.Taxes.ToString("N0")</h4>
        </div>
    </div>
    <div class="cart-total">

        <h1 id="total">€@ShoppingCart.Total.ToString("N0")</h1>
        <form class="checkout">
            <input type="submit" value="Checkout" />
        </form>
    </div>
</div>





@code {
    [Parameter]
    public ShoppingCart? ShoppingCart { get; set; }
}
